extends layout
block title
  | Timecapsule
block body
  form(action="/new", method="POST")
    - defaultDate = "1/1/" + (new Date().getFullYear() + 1)
    input(type="text", name="capsule[time]", value=defaultDate)
    textarea(name="capsule[message]", rows="10", cols="50")
      | Write your message here.
    input(type="submit", value="Submit") Submit
  != js('timecapsule')

